.app__navbar {
    background-color: var(--color-black);
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    width: 100%;
}

.app__navbar-logo {
    display: flex;
    align-items: center;
}
.app__navbar-logo img {
    max-width: 150px;
}

.app__navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
}
.app__navbar-links li {
    align-items: center;
    margin: 0 1rem;
}
.app__navbar-links li:hover {
    color: var(--color-grey);
}

.app__navbar-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
}
.app__navbar-login a:hover {
    border-bottom: 1px solid var(--color-golden);
    transition: 0.5s ease;
}
.app__navbar-login div {
    width: 1px;
    height: 30px;
    background: var(--color-grey);
}



.app__navbar-smallscreen {
    display: none;
    align-items: center;
    cursor: pointer;
}
.app__navbar-smallscreen_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
}
.overlay__close {
    color: var(--color-golden);
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
}
.app__navbar-smallscreen_links {
    color: var(--color-golden);
    list-style: none;
    font-family: var(--font-base);
    font-size: 27px;
}
.app__navbar-smallscreen_links li {
    padding: 0.5rem 0;
}
.app__navbar-smallscreen_links a:hover {
    color: white;
    display: flex;
}


@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }
    .app__navbar-logo img {
        max-width: 120px;
    }
    .app__navbar-smallscreen {
        display: flex;
    }
}
@media screen and (max-width: 650px) {
    .app__navbar-login {
        display: none;
    }
    .app__navbar-smallscreen_links {
        font-size: 22px;
    }
    .app__navbar {
        padding: 0.5rem;
    }
    .app__navbar-logo img {
        max-width: 110px;
    }
}
